{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Skylon Registration Platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title_tag %}
            Skylon System
        {% endblock %}    
    </title>
    
    <!-- Favicon -->
    <link href="{% static 'images/logo.ico'%}" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'css/style.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/data.css'%}" rel="stylesheet">

</head>
<body>
    
  <!-- Topbar Start -->
  <div class="container-fluid">
    <div class="row align-items-center bg-light px-lg-3">
        <div class="col-12 col-md-12">
            <div class="text-white text-center py-4" style="background-color: #6A0DAD;">
                <h3 class="text-white">Skylon Schools Kenya - Registration Form</h3></div>            
        </div>
        <!--a id="today_date" class="col-md-4 text-right d-none d-md-block" style="color: #6A0DAD;"></a-->
        <a class="col-md-4 text-left" style="color: #6A0DAD;"> {{current_date}} </a>        
    </div>
    
    <!-- Topbar End -->
    {% if user.is_authenticated %}
    <!-- Navbar Start -->
    <!--  -->
    <div class="container-fluid p-0 mb-3">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">      
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    {% else %}
    <!-- Put the link to the log in Form -->    
    <div class="container">
        <div class="py-3">
            <a href="{% url 'login'%}" class="btn btn-outline-primary text-center" 
                style="height: 100px; width: 200px; align-items: center; justify-content: center; align-content: center; font-size: larger;background-color: #6A0DAD;color: white;">
                LOG IN</a>
            <p></p> 
            <p>Only the eligible Staff have access to the registration platform</p> <br> <br>
            <img class="img-fluid h-50" src="{% static 'images/little_girl_skylon_polo.jpeg' %}" style="object-fit: cover;"> <br>
    
        </div>
  </div>
    {% endif %}

    {% block studentblock %}

    {% endblock studentblock %}

     <div class="container">
        <p> &copy; <a class="font-weight-bold" href="{% url 'home'%}">Skylon Schools</a>. All Rights Reserved.</p>
    </div>
<!-- Footer End -->

    <!-- JavaScript Libraries -->    
    <script src="{% static 'js/registration.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>