{% extends 'base.html' %}
{% block title_tag %} Log In {% endblock %}

{% load static %}
{% block authenblock %}
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">

                    <h2>Log In</h2> 
                    <br/>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="row">                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.as_p }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            
                                <div class="submit-button">
                                    <button class="btn btn-outline-primary text-center" id="submit-login" type="submit">Log In</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>

                                <div> <br/><br/><br/>
                                    If you forgot your password, please contact admin for a new password 
                                    <a class="bd-link" href="https://wa.me/+33787314651" style="color: orangered;">Contact on WhatsApp</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}