/* Mobile Styles */ 
@media (max-width: 600px) { 
    nav ul li { display: block; margin: 10px 0; } 
    main { flex-direction: column; } 
    .sidebar { order: -1; } 
} 
    
/* Tablet Styles */ 
@media (min-width: 601px) and (max-width: 1024px) { 
    main { flex-direction: column; } 
    .sidebar { order: -1; } 
} 
    
/* Desktop Styles */ 
@media (min-width: 1025px) { 
    nav ul li { display: inline-block; margin: 0 20px} 
    main { flex-direction: row; } 
}

fieldset.boxed {
    border: 2px solid #6A0DAD; /* Border thickness and color */
    border-radius: 5px;     /* Rounded corners */
    padding: 15px;          /* Padding inside the fieldset */
    margin: 10px 0;         /* Margin outside the fieldset */
}

legend {
    font-weight: bold;       /* Bold text for legend */
    padding: 0 10px;        /* Padding around the legend text */
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures that borders are collapsed into a single border */
    border-spacing: 10px; /* Adds space between cells */
}

th, td {
    border: 1px solid #ddd; /* Adds a border to table cells */
    padding: 20px; /* Adds padding inside table cells */
    text-align: left; /* Aligns text to the left */
    width: auto;
}

th {
    background-color: #f2f2f2; /* Adds background color to header cells */
}








